<!DOCTYPE html>
<html lang="en">
  {% include "component/head.njk" %}
    <body style="margin: 0; padding: 0; overflow: hidden; width: 100vw; height: 100vh;">

      <main style="width: 100%; height: 100%; margin: 0; padding: 0;">
      {{ content | safe }}
      </main>

      {% include "component/scripts.njk" %}
    </body>
  </html>
